{# Pantilla para mostrar resultados de operaciones #}
{%if resultado %}
<article class="col-sm-12">
<div class="alert alert-{{resultado.suceed == true? 'success':'warning' }} fade in">
<button data-dismiss="alert" class="close">
    ×
</button>
<i class="fa-fw fa fa-{{resultado.suceed == true? 'check':'warning' }}"></i>
<strong>{{resultado.suceed == true? 'Muy Bien!':'Ups! Atención:' }}</strong> {{ resultado.mensaje|capitalize|nl2br }}.
{% if constant('DEBUG')%}
<pre>
    {{ dump(resultado)}}
</pre>
{%endif %}
</div>
</article>
{%endif%}