<div class="row">
<!-- col -->
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<h1 class="page-title txt-color-blue"><i class="fa-fw fa {% if id != 'clave' %} fa-users {% else %} fa-key {% endif %}"></i> Propietario <span>>
{% if id != 'clave' %}Datos Personales {% else %} Clave de Acceso {% endif %} </span></h1>
</div>
<!-- end col -->
</div>
{%if resultado%}
{% include 'misc/resultado.html.twig' %}
{% endif %}
<section class="" id="widget-grid">
<div class="row">
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
<div data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-11" class="jarviswidget jarviswidget-color-red " style="" role="widget">
<!-- widget options:
usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

data-widget-colorbutton="false"	
data-widget-editbutton="false"
data-widget-togglebutton="false"
data-widget-deletebutton="false"
data-widget-fullscreenbutton="false"
data-widget-custombutton="false"
data-widget-collapsed="true" 
data-widget-sortable="false"
-->
<header role="heading">
<span class="widget-icon"> <i class="fa fa-users"></i> </span>
<h3 class="font-md">Perfíl Propietario</h3>	
<ul class="nav nav-tabs pull-right" id="widget-tab-1">
<li class="{% if id != 'clave' %}active{% endif %}">
<a href="#hr1" data-toggle="tab"> <i class="fa fa-lg fa-folder-open-o"></i> <span class="hidden-mobile hidden-tablet"> Información Básica </span> </a>
</li>
<li class="{% if id == 'clave' %}active{% endif %}">
<a href="#hr2" data-toggle="tab"> <i class="fa fa-lg fa-pencil-square-o"></i> <span class="hidden-mobile hidden-tablet"> Clave de Acceso </span></a>
</li>
</ul>	
<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
<!-- widget div-->
<div role="content">
<!-- widget edit box -->
<div class="jarviswidget-editbox">
<!-- This area used as dropdown edit box -->
</div>
<!-- end widget edit box -->
<!-- widget content -->
<div class="widget-body">
<!-- widget body text-->
<div class="tab-content padding-10">
<div id="hr1" class="tab-pane fade in {% if id != 'clave' %}active {% endif %}">
<h5 class="alert alert-warning"> <i class="fa fa-user"></i> Estimado propietario, es importante para nosotros que mantenga actualizada su información de contacto. Ayudenos a mantenerlo informado en todo momento de la sitiación de su inmueble.</h5>
<div class="widget-body">
<form class="form-horizontal" name="perfil">
<fieldset>
<legend class="txt-color-blue"><strong>General</strong></legend>
<input type="hidden" name="id" value="{{ propietario.id }}"/>
<input type="hidden" name="modificado" value="1"/>
<div class="form-group">
<label class="col-md-2 control-label">Nombre Razón Social</label>
<div class="col-md-10">
<input type="text" value="{{ propietario.nombre }}" class="form-control" disabled="disabled">
</div>
</div>
<div class="form-group">
<label class="col-md-2 control-label">Cédula de Identidad</label>
<div class="col-md-4">
<input type="text" list="list" class="form-control" value="{{ propietario.cedula }}"  disabled="disabled">
</div>
</div>
</fieldset>
<fieldset>
<legend class="txt-color-blue"><strong>Contacto</strong></legend>
<div class="form-group">
<label class="col-md-2 control-label" for="telefono1">Teléfono Habitación</label>
<div class="col-md-4"><div class="input-group">
<input type="text" id="telefono1" name="telefono1" value="{{ propietario.telefono1 }}" class="form-control" data-mask-placeholder="_" data-mask="(9999) 999-9999">
<span class="input-group-addon"><i class="fa fa-phone"></i></span>
</div>
<p class="note">Formato: (XXXX) XXX-XXXX</p>        
</div>
</div>
<div class="form-group">
<label class="col-md-2 control-label" for="telefono2">Teléfono Oficina</label>
<div class="col-md-4"><div class="input-group">
<input type="text" id="telefono2" name="telefono2" value="{{ propietario.telefono2 }}" class="form-control" data-mask-placeholder="_" data-mask="(9999) 999-9999">
<span class="input-group-addon"><i class="fa fa-phone"></i></span>
</div>
<p class="note">Formato: (XXXX) XXX-XXXX</p>
</div>
</div>
<div class="form-group">
<label class="col-md-2 control-label" for="telefono2">Teléfono Celular</label>
<div class="col-md-4"><div class="input-group">
<input type="text" id="telefono3" name="telefono3" value="{{ propietario.telefono3 }}" class="alphanumeric form-control"  data-mask-placeholder="_" data-mask="(9999) 999-9999">
<span class="input-group-addon"><i class="fa fa-phone"></i></span>
</div>
<p class="note">Formato: (XXXX) XXX-XXXX</p>        
</div>
</div>
<div class="form-group">
<label class="col-md-2 control-label" for="email">Correo electrónico</label>
<div class="col-md-4"><div class="input-group">
<input type="text" id="email" name="email" value="{{ propietario.email }}" class="required email form-control">
<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
</div>
</div>
</div>
<div class="form-group">
<label class="col-md-2 control-label" for="email">Correo electrónico Alternativo</label>
<div class="col-md-4"><div class="input-group">
<input type="text" id="email_alternativo" name="email_alternativo" value="{{ propietario.email_alternativo }}" class="required email form-control">
<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
</div>
</div>
</div>
<div class="form-group">
<label class="col-md-2 control-label" for="direccion">Dirección</label>
<div class="col-md-10">
<textarea class="required form-control" name="direccion">{{ propietario.direccion}}</textarea>
</div>
</div>

</fieldset>
<div class="form-actions">
<div class="row">
<div class="col-md-12">
<button class="btn btn-primary" name="actualizar">
<i class="fa fa-save"></i>
Guardar
</button>
</div>
</div>
</div>
</form>
</div>
</div>
<div id="hr2" class="tab-pane fade in {% if id == 'clave' %}active {% endif %}">
<h4 class="alert alert-warning"> Mantenga en resguardo su clave de acceso. </h4>
<div class="widget-body">
<div class="alert adjusted alert-info fade in">
<button data-dismiss="alert" class="close">
×
</button>
<i class="fa-fw fa-lg fa fa-key"></i>
Ingrese la informaciónd de su clave de acceso:
</div>
<form class="smart-form" name="clave" novalidate="novalidate">
<fieldset>
<legend class="txt-color-blue"><strong>Clave de Acceso</strong></legend>
<input type="hidden" name="id" value="{{ propietario.id }}"/>
<input type="hidden" name="modificado" value="1"/>
<div class="row">
<section class="col col-6">
<label class="label">Actual: </label>
<label class="input">
<i class="icon-append fa fa-sign-in"></i>
<input type="password" value="" class="form-control" name="clave_actual">
</label>
</section>
</div>
<div class="row">
<section class="col col-6">
<label class="label">Nueva: </label>
<label class="input">
<i class="icon-append fa fa-key"></i>
<input type="password" list="list" class="form-control" value="" name="clave">
</label>
</section>
</div>
</fieldset>
<footer>
<button class="btn btn-primary" name="cambiar">
<i class="fa fa-save"></i>
Actualizar
</button>
</footer>
</form>

</div>
</div>
</div>
<!-- end widget body text-->
</div>
<!-- end widget content -->
</div>
<!-- end widget div -->
</div>
</article>
</div>
</section>
        <script src="{{ constant('ROOT')}}assets/js/app/jquery-validate/jquery.validate.min.js"></script>
        <script type="text/javascript">
            /* DO NOT REMOVE : GLOBAL FUNCTIONS!
             *
             * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
             *
             * // activate tooltips
             * $("[rel=tooltip]").tooltip();
             *
             * // activate popovers
             * $("[rel=popover]").popover();
             *
             * // activate popovers with hover states
             * $("[rel=popover-hover]").popover({ trigger: "hover" });
             *
             * // activate inline charts
             * runAllCharts();
             *
             * // setup widgets
             * setup_widgets_desktop();
             *
             * // run form elements
             * runAllForms();
             *
             ********************************
             *
             * pageSetUp() is needed whenever you load a page.
             * It initializes and checks for all basic elements of the page
             * and makes rendering easier.
             *
             */

            pageSetUp();

            /*
             * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
             * eg alert("my home function");
             * 
             * var pagefunction = function() {
             *   ...
             * }
             * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
             * 
             * TO LOAD A SCRIPT:
             * var pagefunction = function (){ 
             *  loadScript(".../plugin.js", run_after_loaded);	
             * }
             * 
             * OR
             * 
             * loadScript(".../plugin.js", run_after_loaded);
             */

            // PAGE RELATED SCRIPTS

            // pagefunction

            var pagefunction = function() {

            };

            // end pagefunction

            // run pagefunction on load

            pagefunction();
            $(function() {
                $("button[name|='actualizar']").click(function() {
                    var url = "{{ constant('URL_SISTEMA') }}/propietario/modificar/perfil";
                    var data = $("form[name|='perfil']").serialize();
                    enviarFormulario(data, url);
                    return false; // Evitar ejecutar el submit del formulario.
                });
            });

            $(function() {
                $("button[name|='cambiar']").click(function() {
                    var url = "{{ constant('URL_SISTEMA') }}/propietario/modificar/clave";
                    var data = $("form[name|='clave']").serialize();
                    if (!$("form[name|='clave']").valid()) {
                        return false;
                    } else {
                        enviarFormulario(data, url);
                    }
                    return false; // Evitar ejecutar el submit del formulario.
                });
            });

            $(function() {
                // Validation
                $("form[name|='clave']").validate({
                    // Rules for form validation
                    rules: {
                        clave_actual: {
                            required: true
                        },
                        clave: {
                            required: true,
                            minlength: 4,
                            maxlength: 20
                        }
                    },
                    // Messages for form validation
                    messages: {
                        clave_actual: {
                            required: 'Ingrese su clave actual'
                        },
                        clave: {
                            required: 'Ingrese su NUEVA clave de acceso',
                            minlength: 'La nueva clave debe ser mínimo de 4 caracteres',
                            maxlength: 'La nueva clave no debe ser mayor de 20 caracteres'
                        }
                    },
                    // Do not change code below
                    errorPlacement: function(error, element) {
                        error.insertAfter(element.parent());
                    }
                });
            });

            </script>