<div class="row">
<!-- col -->
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<h1 class="page-title txt-color-blue">
<!-- PAGE HEADER -->
<i class="fa-fw fa fa-list-alt"></i> 
Estado de Cuenta 
<small>  
Inmueble
</small>
</h1>
</div>
<!-- end col -->

<!-- right side of the page with the sparkline graphs -->
<!-- col -->
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
<!-- sparks -->
<ul id="sparks">
<li class="sparks-info">
<h5> Prom. Facturacion <span class="txt-color-{% if direccion_facturacion == "up" %}blue{% else %}red{% endif %}"><i class="fa fa-arrow-circle-{{ direccion_facturacion }}" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;{{ promedio_facturacion }}</span></h5>
<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
{{ movimiento_facturacion }}
</div>
</li>
<li class="sparks-info">
<h5> Prom. Cobranza <span class="txt-color-{% if direccion_facturacion == "up" %}blue{% else %}red{% endif %}"><i class="fa fa-arrow-circle-{{ direccion_cobranza }}"></i>&nbsp;{{ promedio_cobranza }}</span></h5>
<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
{{ movimiento_cobranza }}
</div>
</li>   
</ul>
<!-- end sparks -->
</div>
<!-- end col -->	
</div>
<section id="widget-grid" class="">
<div id="printable"class="row">
<article class="col-sm-12 col-md-12 col-lg-8 sortable-grid ui-sortable">
<div data-widget-sortable="false" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-9" class="jarviswidget well transparent" style="" role="widget">
<header role="heading">
<span class="widget-icon"> <i class="fa fa-comments"></i> </span>
<h2>Accordions </h2>

<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

<!-- widget div-->
<div role="content">

<!-- widget edit box -->
<div class="jarviswidget-editbox">
<!-- This area used as dropdown edit box -->

</div>
<!-- end widget edit box -->

<!-- widget content -->
<div class="widget-body">
<div id="accordion-2" class="panel-group smart-accordion-default">
{% set n = 1 %}
{% for cuenta in cuentas %}
    
        <div class="panel panel-default">
            <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-{{n}}" data-parent="#accordion-2" data-toggle="collapse" class=""> <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i> {{ cuenta.inmueble.nombre_inmueble }} </a></h4>
            </div>
                <div class="panel-collapse collapse {{n==1? 'in': ''}}" id="collapse-{{n}}" style="">
                <div class="panel-body">
                    <div class="table-responsive">
                {% if cuenta.legal %}
                    {% include 'misc/legal.html.twig' %}
                {% else %}
                <div class="dt-toolbar" style="display: block;">
                <div class="col-sm-2">
                <div class="form-group">
                <div class="input-group">
                    <a target="_blank" href="#" name="exportarPDF" class="btn btn-primary" id="{{cuenta.inmueble.id}}"><i class="fa fa-file-pdf-o"></i> Exportar PDF</a>
                </div>
                </div>
                </div>  
                </div>
                <table  class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center">{{cuenta.inmueble.unidad}}</th>
                            <!--th style="text-align: center" class="hidden-xs">Propietario</th-->
                            <th style="text-align: center">RECIBOS PEND.</th>
                            <th style="text-align: center">DEUDA {{cuenta.inmueble.moneda}}</th>
                            {% if cuenta.inmueble.facturacion_usd %}
                            <th style="text-align: center">DEUDA $</th>
                            {%endif%}
                        </tr>
                    </thead>
                    <tbody>
                        {% if cuenta.cuenta is empty %}
                            <tr><td colspan="4"><div class="alert alert-error">
                                    <strong>Atención!</strong> No se puede cargar esta información.</div></td></tr>
                        {% else %}
                            {% set total = 0 %}
                            {% set total_usd = 0 %}
                            {% set n = 0 %}
                            {% for detalle in cuenta.cuenta %}
                                {% set total = total + detalle.deuda %}
                                {% set total_usd = total_usd + detalle.deuda_usd %}
                                {% set n = n + 1 %}
                                <tr>
                                    <td style="text-align: center;">{{detalle.apto}}</td>
                                    <!--td class="hidden-xs">{#{detalle.propietario}#}</td-->
                                    <td style="text-align: center;">{{detalle.recibos}}</td>
                                    <td><span class="pull-right">{{format_number(detalle.deuda)}}</span></td>
                                    {% if cuenta.inmueble.facturacion_usd %}
                                    <td><span class="pull-right">{{format_number(detalle.deuda_usd)}}</span></td>
                                    {%endif%}
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td><strong>Totales</strong></td>
                                    <!--td class="hidden-xs">&nbsp;</td-->
                                    <td style="text-align: center"><strong>{{n}}</strong></td>
                                    <td><span class="pull-right"><strong>{{format_number(total)}}</strong></span></td>
                                    {% if cuenta.inmueble.facturacion_usd %}
                                    <td><span class="pull-right"><strong>{{format_number(total_usd)}}</strong></span></td>
                                    {%endif%}
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% endif %}
                    </div>
                </div>
                </div>
                <!--div class="form-actions">
                    <button class="btn btn-primary" type="submit" title="{{cuenta.inmueble.nombre_inmueble}}">Imprimir</button>
                </div-->
        </div>
{% set n = n + 1 %}
{% endfor %}
</div>
</div>
</div>
</article>
</div>
</section>
<script type="text/javascript">
	
	pageSetUp();
	
	var pagefunction = function() {
            $("a[name|='exportarPDF']").click(function() {
                window.open('{{constant('ROOT')}}php/generarEstadoDeCuentaPDF.php?inmueble='+$(this).attr('id'));
                return false;
            });
	};
	
	pagefunction();
	
</script>