<div class="row">
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<h1 class="page-title txt-color-blue"><i class="fa fa-folder-open-o fa-fw "></i> Soporte facturación</h1>
</div>
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
</div>
</div>
<section id="widget-grid" class="">

<div class="row">    
{% include 'misc/resultado.html.twig' %}
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
Listado de Pre-recibos publicados
</a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
<div class="accordion-inner">
<table  class="table table-bordered table-striped responsive-utilities">
    <thead>
        <tr>
            <th style="text-align: center">Período Facturación</small></th>
            <th style="text-align: center">Soportes</small></th>
            <th style="text-align: center">Funciones Especiales</small></th>
            <th class="hidden">id</th>
        </tr>
    </thead>
    <tbody>
        {% if prerecibos is empty %}
            <tr><td colspan="5"><div class="alert alert-error">
                    <strong>Atención!</strong> No se puede cargar esta información.</div></td></tr>
        {% else %}
            {% for detalle in prerecibos.data %}
                <tr>
                    <td>{{ detalle.periodo | date("m-Y") }}</td>
                    <td>
                        {% if detalle.publicado %}
                            <a href="{{constant('URL_SISTEMA')}}/prerecibo/ver/{{detalle.documento}}" title="ver soporte">{{detalle.documento}}</a>
                        {%else%}
                            {{ detalle.documento }}
                        {%endif%}
                    </td>
                    <td>
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                {% if detalle.soportes %}
                                    <a class="btn btn-xs btn-primary" href="{{constant('URL_SISTEMA')}}/prerecibo/ver/{{detalle.soporte}}" title="ver soporte"><i class="icon-eye-open"></i></a>
                                {% else %}
                                    <a class="btn btn-xs btn-primary disabled" href="{{constant('URL_SISTEMA')}}/prerecibo/ver/{{detalle.soporte}}" title="ver"><i class="icon-eye-open"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td class="hidden">{{ detalle.id }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>
</div>
</div>
</article>
</div>
</section>
<script type="text/javascript">
$(document).ready(function() {
$(".autorizar").on('click',function() {
$(".label-info").html($(this).closest("tr").find("td:first").text());
$("a.btn-primary").attr("href",$("a.btn-primary").attr("href") + $(this).closest("tr").find("td:last").text());
$("#myModal").modal('toggle');
});
});
</script>
