<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Administradora de Condominios Vick & Ann {% block titulo %}{% endblock %} </title>
  {% block seo %}
  <meta name="keywords" content="administradora de condominio, administracion de condominios, servicio administracion de condominio, chuao caracas">
  <meta name="description" content="Administradora de condominios Vick & Ann, Chuao Caracas. Exclusivo servicio de Administracion de condominios, edificios, conjuntos residenciales, centros comerciales y comunidades">
  {% endblock %}
  <meta name="author" content="Pronet21.com (Edgar Messia)">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if IE]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
  <!--////////// CSS Stylesheet  ///////////-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="{{constant('ROOT')}}assets/images/favicon/favicon.png">
  {% block javascript %}
  <!--////////// jQuery Source  ///////////-->
  <script src="{{constant('ROOT')}}js/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{constant('ROOT')}}js/jquery.easing.1.3.js"></script>
  <!--////////// Layerslider files  ///////////-->
  <script src="{{constant('ROOT')}}layerslider/js/greensock.js" type="text/javascript"></script>
  <script src="{{constant('ROOT')}}layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
  <script src="{{constant('ROOT')}}layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script> 
  {% endblock %} 
</head>
<body id="section-home">

<div class="doc-loader"></div>

  <!--/////////// HEADER SECTION //////////-->
  <header>
    <nav role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-th-list iconmobile"></i>
          </button>
          <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>
        </div>
        <div id="main-nav" class="collapse navbar-collapse navbar-collapse">          
          <ul class="nav navbar-nav navbar-right">
            <!--////////// NAVIGATION MENU //////////-->
            <li><a href="index.html"><span>Inicio</span></a></li>
            <li><a href="empresa.html">Nuestra Empresa</a></li>
            <li><a href="servicios.html"><span>Servicios</span></a></li>
            <li><a href="condominio-en-linea.html"><span>Condominio en linea</span></a></li>
            <li><a href="contactenos.html"><span>Contáctenos</span></a></li>
            
          </ul>
        </div><!-- /navbar-collapse -->
      </div><!-- /container -->
    </nav>
  </header>
  {% block contenido %}
  <!--////////// SLIDER SECTION ////////// -->
  <section id="section-slider">
      <div class="row" style="margin: 0px;">
        <!-- ////////// LAYERSSLIDER STARTS HERE ////////// -->
        <div id="main-slider" style="width: 100%; height: 470px;">
        
            <!-- first slide -->
            <div class="ls-slide" data-ls="transition2d:5;"><img src="{{constant('ROOT')}}img/solid-bg.jpg" class="ls-bg" alt="Slide background" />
            <h1 class="ls-l" style="top:100px;left:269px;text-align: center;font-size:40px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-200;easingin:easeInOutBack;offsetxout:0;offsetyout:200;durationout:600;delayin:200;">Admnistradora de Condominio<br>Vicky&Ann</h1>
            <p class="ls-l" style="top:220px;left:289px;text-align: center;color:#ffffff;white-space: nowrap; font-size:14px; line-height: 1.7em;" data-ls="offsetxin:0;offsetyin:-200;easingin:easeInOutBack;offsetxout:0;offsetyout:200;durationout:600;">Servicio de administración de edificios, conjuntos resienciales, centro comerciales,<br> urbanizaciones, complejos habitacionales y comunidades.</p>
            <a class="ls-l btn btn-success btn-large" style="top:300px;left:420px;" data-ls="offsetxin:0;offsetyin:bottom;offsetxout:0;offsetyout:200;durationout:600;delayin:400;" href="condominio-en-linea.html">Condominio en línea</a>
            </div>	

            <!-- second slide -->
            <div class="ls-slide" data-ls="transition2d:5;"><img src="{{constant('ROOT')}}img/slider-condominio.jpg" class="ls-bg" alt="Slide background" />
            <img class="ls-l" style="top:0px;left:430px;width:600px;white-space: nowrap;" data-ls="offsetxin:right;fadein:false;offsetyout:bottom;durationout:1000;fadeout:false;delayin:600;" data-src="images/woman.png" alt="">
            <h2 class="ls-l" style="top:130px;left:80px;font-size:28px;color:#000;white-space: nowrap; background-color: rgba(142,211,0,0.8); padding: 10px" data-ls="offsetxin:left;fadein:false;offsetxout:right;durationout:1000;fadeout:false;">Información oportuna</h2>
            <p class="ls-l" style="top:188px;left:80px;color:#000;white-space: nowrap; font-size:14px; line-height: 1.7em;background-color: rgba(255,255,255,0.8); padding: 5px;" data-ls="offsetxin:left;delayin:200;fadein:false;offsetxout:right;durationout:1000;fadeout:false;">Reciba en su correo electrónico, su estado de cuenta,<br> avisos de cobro, recibos cancelados, comunicaciones.<br> Manténgase informado de la situación de su inmueble.</p>
            </div>

            <!-- fourth slide -->
            <div class="ls-slide" data-ls="transition2d:5;"><img src="{{constant('ROOT')}}img/slider-map.jpg" class="ls-bg" alt="Slide background" />
            <img class="ls-l" style="top:130px;left:60px;width:450px;white-space: nowrap;" data-ls="offsetxin:left;fadein:false;offsetxout:left;durationout:1000;fadeout:false;delayin:800;" data-src="images/xserve-2.png" alt="">
            <h2 class="ls-l" style="top:130px;left:550px;font-size:28px;color:#ffffff;white-space: nowrap; background-color: rgba(247,95,17,0.5); padding: 10px" data-ls="offsetxin:right;fadein:false;offsetxout:right;durationout:1000;fadeout:false;">Condominio en línea</h2>
            <p class="ls-l" style="top:188px;left:550px;color:#ffffff;white-space: nowrap; font-size:14px; line-height: 1.7em;background-color: rgba(51,51,51,0.5); padding: 5px;" data-ls="offsetxin:right;delayin:200;fadein:false;offsetxout:right;durationout:1000;fadeout:false;">Ahora efectuar operaciones sobre su cuenta de condomino.<br> es muy fácil. Desde la comodidad de su casa u oficina. <br> consulte su estado de cuenta, reporte pagos<br> de condominio. Ahorre tiempo y dinero</p>
            <a class="ls-l btn btn-primary btn-large" style="top:300px;left:550px;" data-ls="offsetxin:right;delayin:600;fadein:false;offsetxout:right;durationout:1000;fadeout:false;" href="#">Reportar pago de condomino</a>
            </div>
		    
        </div><!-- /#main-slider -->
      </div><!-- /row -->
	<!--////////// CLOUDS BACKGROUND ////////// -->
	<div class="row hidden-xs">
		<div class="col-centered" id="edificios">
		</div><!-- /clouds -->
	</div><!-- /row -->    

	<!--////////// UNDER SLIDER SECTION ////////// -->
	<div class="under-slider">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<span>Servicio integral de administración de condominio</span>
				<p>Ofrecemos experiencia, calidad, transparencia y eficiencia en el área de administración de condominios.
                                    Un servicio exclusivo para el propietario exigente. Atención personaliza con tecnología de punta para condominios,
                                    conjuntos residenciales, centros comerciales, estacionamientos y comunidades del Paraiso y zonas aledañas.
                                    </p>
			</div><!-- /col-sm-9 -->
			<div class="col-md-3">
			<!--a class="btn btn-primary btn-large wobble-vertical" href="#">Purchase Now</a-->
			</div><!-- /col-sm-3 -->
		</div><!-- /row -->
	</div><!-- /container -->
	</div><!-- /under-slider -->	   

  </section>
 
  <!--////////// FEATURES SECTION ////////// -->
  <section id="features">  
  
  <div class="container">
      
      <div class="row">
        <div class="col-md-4 feature">
          <img src="{{constant('ROOT')}}images/icons/01.png" class="icon" alt="feature">
          <h2>Atención Personalizada</h2><p>Le asignaremos un ejecutivo de cuenta y un gerente de condominio, brindándole atención permanente y efectiva. </p>
        </div><!-- /feature -->
        <div class="col-md-4 feature">
          <img src="{{constant('ROOT')}}images/icons/02.png" class="icon" alt="feature">
          <h2>Cuenta Corriente Propia</h2><p>Apertura de cuenta corriente a nombre de la residencia en el banco de su preferencia. Junta de condominio con firma autoriadas. </p>
	  </div><!-- /feature -->        
        <div class="col-md-4 feature">
          <img src="{{constant('ROOT')}}images/icons/03.png" class="icon" alt="feature">
          <h2>Gestión de Cobranza</h2><p>Efectivo sistema de cobranza. Multiples opciones para efectuar su pago, manteniendo niveles mínimos de morosidad.</p>
        </div><!-- /feature -->
      </div><!-- /row -->	

      <div class="row">
        <div class="col-md-4 feature">
          <img src="{{constant('ROOT')}}images/icons/04.png" class="icon" alt="feature">
          <h2>Pagos a proveedores</h2><p>Pagos contractuales y no contractuales en forma puntual. Los pagos de los servicios básicos son procesados a través de internet.</p>
        </div><!-- /feature -->
        <div class="col-md-4 feature">
          <img src="{{constant('ROOT')}}images/icons/05.png" class="icon" alt="feature">
          <h2>Asesoría y Apoyo Legal</h2><p>Apoyo en la convocatoria de asambleas ordinarias y extraordinarias. Sellado de libros y transcripción de actas y cartas consultas. </p>
	  </div><!-- /feature -->        
        <div class="col-md-4 feature">
          <img src="{{constant('ROOT')}}images/icons/06.png" class="icon" alt="feature">
          <h2>Gestión Fiscal</h2><p>Llevamos a cabo los procedimientos tributarios de su residencia. Mantemos al día sus obligaciones con el fisco. </p>
        </div><!-- /feature -->
      </div><!-- /row -->	 

  </div><!-- /container -->
  
  </section>
    
  <!--////////// PRICING SECTION ////////// -->
  <section id="features">  
  
  <div class="container">
	  <div class="row">  
	  <div class="section-title">
	  	<h1>Condominio en línea</h1>
		<h2>Gestione su cuenta de condominio a través de internet.</h2>
	  </div>
	  </div><!-- /row -->
          <div class="row">

        <div class="col-md-6">
            <img src="images/condominio-en-linea.png" alt="feature-1" class="img-responsive">
        </div>
        <div class="col-md-6">
          <h4>Funciones</h4>
          <ul class="list-unstyled list-features">
          <li> <i class="fa fa-check-square"></i>  Consulte estado de cuenta</li> 
          <li> <i class="fa fa-check-square"></i>  Consulte, descargue o imprima su aviso de cobro</li> 
          <li> <i class="fa fa-check-square"></i>  Actualice sus datos de contacto</li> 
          <li> <i class="fa fa-check-square"></i>  Reporte pagos de condominio</li> 
          <li> <i class="fa fa-check-square"></i>  Consulte, descargue o imprima su recibo de condominio</li> 
          <li> <i class="fa fa-check-square"></i>  Consulte su histórico de pagos</li> 
          <li> <i class="fa fa-check-square"></i>  Consulte el estado de cuenta general del condominio</li> 
          <li> <i class="fa fa-check-square"></i>  Disponible las 24 horas del día</li> 
          <li> <i class="fa fa-check-square"></i>  Ahorre tiempo y dinero</li> 
          </ul>
        </div>

      </div>

  </div><!-- /container -->	  
  </section>
  {% endblock %}
<!--////////// CLOUDS BACKGROUND ////////// -->
<div class="row hidden-xs">

<div class="col-centered" id="clouds-footer">


</div><!-- /clouds -->

</div><!-- /row -->    
  
{% block footer %}
{% include 'misc/footer.html.twig' %}
{% endblock %}
{% block javascript1 %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-4533943-22', 'auto');
ga('send', 'pageview');

</script>
<!--////////// JAVASCRIPT FILES INCLUDES //////////-->
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-hover-dropdown.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script src="js/custom.js"></script>
{% endblock %}
  </body>
</html>